.section-info {
    padding: 50px 0;
}
.info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}
.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 35px 45px 20px;
}
.info-container .info:nth-child(2):before {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;

    width: 1px;
    height: 65px;

    content: '';
    background-color: var(--color-lightgrey3);
}
.info-container .info:nth-child(2):after {
    display: block;
    position: absolute;
    top: 40%;
    right: 0;

    width: 1px;
    height: 65px;

    content: '';
    background-color: var(--color-lightgrey3);
}
.info h1 {
    margin-top: 16px;

    font-size: 20px;
}
.info p {
    margin-top: 10px;

    font-size: 15px;
    color: var(--color-darkgrey3);
}
.info a {
    margin-top: 10px;

    font-size: 14px;
    color: var(--color-blue1);
    text-decoration: none;
}
.info a:hover {
    color: var(--color-blue2);
}

.regret {
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: 1200px ;
    margin: 15px auto 80px;
}
.regret__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 20px;
    padding: 16px;
    border: 1px solid var(--color-box-shadow);
    border-radius: 5px;
}
.regret__container h2 {
    font-size: 14px;
    color: rgba(0,0,0,.45);
}
.regret__container a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color:#3483FA;
}