.payment {
    padding: 0 10px;
}
.payment__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    max-width: 1200px;
    height: 100px;

    margin: 0 auto;

    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 var(--color-box-shadow);

    overflow: hidden;
}
.payment__item {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    padding: 20px;
}
.payment__item--icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    justify-self: center;
    align-self: center;

    margin-right: 15px;
} 
.payment__item--title {
    display: inline-block;
    align-self: flex-end;
    font-size: 18px;
    font-weight: normal;
}
.payment__item--seemore {
    text-decoration: none;
    font-size: 14px;

    line-height: 1.5;
    color: var(--color-blue1);
}
.payment__item--seemore:hover {
    color: var(--color-blue2);
}
.payment__view-more {
    border-left: 1px solid var(--color-box-shadow);
}