.ofert {
    width: 100%;
    margin: 60px 0;
    height: 382px;
    padding: 0 10px;
}
.ofert-titles {
    max-width: 1200px;
    margin: 0 auto 20px;
}
.ofert h2 {
    display: inline-block;
    font-size: 26px;
    color: var(--color-darkgrey2);
}
.ofert a {
    margin-left: 16px;
    text-decoration: none;
    font-size: 16px;
    color: var(--color-blue1);
}
.ofert a:hover {
    color: var(--color-blue2)
}
.cards__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    position: relative;

    width: 100%;
    max-width: 1200px;
    height: 100%;

    margin: 0 auto;

    column-gap: 8px;
        
    overflow: hidden;
}

.card {
    display: inline-block;

    width: 224px;
    height: 330px;

    position: relative;

    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 1px 1px 1px var(--color-box-shadow);

    cursor: pointer;
}
.card:hover {
    height: 360px;
    transition: height .1s ease-out;
    transition: box-shadow .1s ease-out;
    box-shadow: 0 7px 16px 0 rgba(0,0,0,.2);
}
.card:hover .ofert__card--discount {
    display: block;
}
.card:hover .ofert__card--description {
    display: inline-block;
}
.ofert__card--img-container {
    margin: 0;
    max-width: 224px;
    height: 224px;

    text-align: center;
}
.ofert__card--img-container img {
    object-fit: cover;
}
.ofert__card--bottom {
    border-top: 1px solid rgba(51,51,51,.1);
}
.ofert__card--truck-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 80%;
    bottom: 18px;

    z-index: 10;

    width: 36px;
    height: 36px;

    background-color: var(--color-white);
    border: 1px solid rgba(51,51,51,.1);
    border-radius: 50%;
}
.ofert__card--truck-icon {
    width: 20px;
    height: 20px;

    fill: var(--color-green1);
}
.ofert__card--txt-container {
    margin-top: -10px;
    padding: 0 24px;
}
.ofert__card--discount {
    display: none;

    text-decoration-line: line-through;

    text-align: left;
    font-size: 14px;
    font-weight: 100;
    color: var(--color-darkgrey3);
}
.ofert__card--price {
    display: inline-block;

    margin-top: 6px;

    font-size: 22px;
    color: var(--color-darkgrey1);
}
.ofert__card--off {
    display: inline-block;
    font-size: 14px;
    color: var(--color-green1);
}
.ofert__card--description {
    display: none;
    margin-top: 6px;

    font-size: 13px;
    line-height: 1.3;
    color: var(--color-darkgrey2);
}
.ofert__card--payment {
    display: block;
    font-size: 14px;
    color: var(--color-darkgrey1)
}
