.oferts2 {
    max-width: 1200px;
    height: 100%;

    margin: 0 auto;
    padding: 60px 10px 0;
}
.ofert2-titles {
    max-width: 1200px;
    margin: 0 auto 20px;
}
.ofert2-titles h1 {
    display: inline-block;
    font-size: 26px;
    color: var(--color-darkgrey2);
}
.oferts2__card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.ofert2__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-white);

    cursor: pointer;

    overflow: hidden;
}
.ofert2__card:hover {
    transition: box-shadow .1s ease-out;
    box-shadow: 0 7px 16px 0 rgba(0,0,0,.2);
}
.ofert2__card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    margin: 0 32px 0 0;
    padding: 32px 0 32px 32px;
}
.ofert2__card--title {
    font-size: 12px;
    letter-spacing: 4px;
}
.ofert2__card--description {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
}
.ofert2__card--seemore {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 96px;
    height: 36px;

    margin-top: 13px;
    padding: 9px 10px;
    
    border-radius: 2px;

    font-weight: bold;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-blue1);
}
.ofert2__card--seemore:hover {
    transition: ease-out .2s background-color;
    background-color: var(--color-blue2);
}
.ofert2__card img {
    width: auto;
    height: 100%;
}