@font-face {
    font-family: proximaNovaThin;
    src: url(/arc/proxima/ProximaNovaThin.otf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-family: proximaNovaThin;
}
.header div a,
.header div div a
{
    text-decoration: none
}
.header-container {
    width: 100%;
    height: 100px;
    background-color: #fff159
}
.header {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 6fr 3fr;

    width: 90%;
    max-width: 1200px;
    height: 92px;
    margin: 0 auto;
    padding-top: 10px;
}
.header--logo-ml {
    display: inline-block;
    width: 134px;
    height: 34px;

    background: url(/arc/logo__large_plus.png) no-repeat center;

    text-indent: -999px;
}
.navbar-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.navbar-left__placeholder {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr ;

    padding-bottom: 10px;
}
.navbar-left__placeholder img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    width: 22px;
    height: 22px;
}
.navbar-left__placeholder--sendto {
    display: inline-block;
    color: black;
    font-size: 12px;
}
.navbar-left__placeholder--location {
    display: inline-block;
    color: black;
    font-size: 15px;
}

.navbar-mid {
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.navbar-mid__search {
    display: flex;

    width: 100%;
    max-width: 600px;
    height: 39px;

    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.navbar-mid input {
    width: 600px;
    height: 39px;
    border: none;

    padding: 7px 60px 9px 15px;

    font-size: 18px;
}
.navbar-mid input::placeholder {
    color: rgba(0,0,0,0.5);
    font-size: 16px;

}
.navbar-mid input:focus {
    outline: none;
}
.navbar-mid__search button {
    width: 39px;
    height: 39px;
    border: none;
    background: rgba(0,0,0,0);

    border-left: solid 1px rgba(0,0,0,0.1);
}
.navbar-mid__search button img {
    width: 15px;
    height: auto;
}
.navbar-mid__search button:focus {
    outline: none
}
.navbar-mid__menu {
   align-self: flex-end;

   padding-bottom: 10px;
}
.navbar-mid__menu a {
    margin-right: 18px;
    color: grey;
    font-size: 14px;
}

.navbar-right {
    display: grid;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;
}
.navbar-right--payment img {
    max-width: 340px;
    max-height: 39px;
}
.navbar-bottom__login {
    justify-self: flex-end;
    align-self: flex-end;
    padding-bottom: 10px;   
}
.navbar-bottom__login a {
    margin: 0 10px;

    color: black;
    font-size: 14px;
}
.navbar-bottom__login--shop img {
    width: 20px;
    height: 20px;
}

.carousel {
    width: 100%;
    height: 340px;
    background-color: #e7e7e7;
}
.carousel__container {
    max-width: 1200px;
    max-height: 340px;
    margin: 0 auto;

    overflow: hidden;
}
.carousel__container figure {
    position: relative;
    margin: 0;
    left: 0;
    width: 500%;
    animation: 20s slider infinite;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
}
.carrousel img {
    margin: auto;
    display: block;
}

.main {
    background-color: #e7e7e7;
    padding-top: 25px;
}

.mediosdepago {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: 100%;
    max-width: 1200px;
    height: 100px;

    margin: 0 auto;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgb(0,0,0,0.1);
}
.mediosdepago__container{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;

    padding: 20px;
}
.mediosdepago--icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    justify-self: center;
    align-self: center;

    margin-right: 15px;
} 
.mediosdepago--title {
    display: inline-block;
    align-self: flex-end;
    font-size: 18px;
}
.mediosdepago--seemore {
    text-decoration: none;
    font-size: 14px;
    color: #3483FA;
}
.mediosdepago__view-more {
    border-left: 1px solid rgba(0,0,0, 0.1)
}

.ofert {
    margin: 60px 0;
}
.ofert-titles {
    max-width: 1200px;
    margin: 0 auto 20px;
}
.ofert h2 {
    display: inline-block;
    font-size: 26px;
    color: #666666;
}
.ofert a {
    margin-left: 16px;
    text-decoration: none;
    color: #3483FA;
}
.cards__container {
    display: grid;

    grid-template-columns: repeat(5, 1fr);

    max-width: 1200px;
    height: 100%;

    margin: 0 auto;

    column-gap: 8px;
}

.card {
    width: 224px;
    height: 330px;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0, 0.1);
}
.ofert__card--img-container {
    margin: 0;
    width: 224px;
    height: 224px;

    text-align: center;
}
.ofert__card--img-container img {
    object-fit: cover;
}
.ofert__card--bottom {
    border-top: 1px solid rgba(51,51,51,.1);
}
.ofert__card--truck-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 80%;
    bottom: 18px;

    z-index: 10;

    width: 36px;
    height: 36px;

    background-color: #fff;
    border: 1px solid rgba(51,51,51,.1);
    border-radius: 50%;
}
.ofert__card--truck-icon {
    width: 20px;
    height: 20px;

    fill: #39b54a;
}
.ofert__card--txt-container {
    margin-top: -10px;
    padding: 0 24px;
}
.ofert__card--discount {
    display: none;

    text-align: left;
    font-size: 14px;
    font-weight: 100;
    color: #999999;
}
.ofert__card--price {
    display: inline-block;
    font-size: 23px;
    color: #333333;
}
.ofert__card--off {
    display: inline-block;
    font-size: 14px;
    color: #39b54A;
}
.ofert__card--description {
    display: none;
    font-size: 14px;
    color: #666666;
}
.ofert__card--payment {
    display: block;
    font-size: 14px;
    color: #333333;
}

.advertising {
    margin: 60px 0;
}
.advertisings__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;

    width: 1200px;
    height: 265px;

    margin: 0 auto;
}
.advertising-titles {
    max-width: 1200px;
    margin: 0 auto 20px;
}
.advertising-titles h2  {
    display: inline-block;
    font-size: 26px;
    color: #666666;
}
.advertising__container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    height: 100%;
 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0, 0.1);
}
.advertising__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    margin: 0 32px 0 0;
    padding: 32px 0 32px 32px;
}
.advertising__info--title {
    font-size: 12px;
    letter-spacing: 4px;
}
.advertising__info--description {
    text-align: left;
    font-size: 28px;
}
.advertising__info--seemore {
    width: 96px;
    height: 36px;

    margin-top: 13px;
    padding: 9px 10px;

    text-align: center;

    text-decoration: none;
    color: #fff;
    background-color: #3483fa;
}
.advertising__info--img {
    width: 100%;
    height: 100%;
}
.stores {
    margin: 60px 0 0;
}
.store__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    
    max-width: 1200px;
    margin: 0 auto;
}
.stores-titles {
    max-width: 1200px;
    margin: 0 auto 20px;
}
.stores-titles h2  {
    display: inline-block;
    font-size: 26px;
    color: #666666;
}
.stores-titles a {
    margin-left: 16px;
    text-decoration: none;
    color: #3483FA;
}
.store__card {
    max-width: 284px;
    height: 340px;

    text-align: center;
        
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0, 0.1);
}
.store__card--img {
    max-width: 284px;
    height: 100%;
    max-height: 95px;
    object-fit: cover;
}
.store__card--logo {
    display: inline-block;
    position: relative;
    top: -30px;
    right: 0;
    left: 0;
    width: 80px;
    height: 80px;  
    
    border-radius: 10px;
    box-shadow: 1px 1px 8px 5px rgba(0,0,0, 0.1)
}
.store__card--title {
    display: block;
    margin: -16px 0 16px;
    padding: 0 16px
}
.store-products {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, 0.1);
}
.store__card--seeshop {
    display: block;

    margin: 15px 0 0;
    text-decoration: none;
    font-size: 15px;
    color: #999999;  
    font-weight: bold;
}

.main2 {
    padding-bottom: 30px;
    background-color: #dfdfdf;
}
.oferts2 {
    max-width: 1200px;
    height: 100%;

    margin: 0 auto;
    padding: 60px 0 0;
}
.ofert2-titles {
    max-width: 1200px;
    margin: 0 auto 20px;
}
.ofert2-titles h1 {
    display: inline-block;
    font-size: 26px;
    color: #666666;
}
.oferts2__card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.ofert2__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
}
.ofert2__card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    margin: 0 32px 0 0;
    padding: 32px 0 32px 32px;
}
.ofert2__card--title {
    font-size: 12px;
    letter-spacing: 4px;
}
.ofert2__card--description {
    text-align: left;
    font-size: 28px;
}
.ofert2__card--seemore {
    width: 96px;
    height: 36px;

    margin-top: 13px;
    padding: 9px 10px;
    
    text-align: center;

    text-decoration: none;
    color: #fff;
    background-color: #3483fa;
}
.ofert2__card img {
    width: 100%;
    height: auto;
}
.categories {
    width: 1200px;
    height: 100%;
    margin: 60px auto;
}
.categories-titles {
    max-width: 1200px;
    margin: 0 auto 20px;
}
.categories-titles h2 {
    display: inline-block;
    font-size: 26px;
    color: #666666;
}
.categories__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 170px 170px;

    background-color: #fff;
}
.category__box {
    display: grid;
    grid-template-rows: 2fr 1fr;

    padding: 12px;

    border-style: solid;
    border-width: 2px;
    border-color:  rgba(0,0,0,0.1);
    border-left: unset;
    border-top: unset;
}
.category__box--icon {
    justify-self: center;
    align-self: flex-end;
    width: 48px;
    height: 48px;
    
    fill: #3483FA;
}
.category__box--title h2 {
    margin: 10px 0 0;
    font-size: 15px;
    color: #333333;
}
.section-info {
    padding: 50px 0;
}
.info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 35px 45px 20px;
}
.info h1 {
    margin-top: 16px;

    font-size: 20px;
}
.info p {
    margin-top: 10px;

    font-size: 15px;
    color: #999999
}
.info a {
    margin-top: 10px;

    font-size: 14px;
    color: #3483FA;
    text-decoration: none;
}
.regret {
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: 1200px ;
    margin: 15px auto 80px;
}
.regret__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 20px;
    padding: 16px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
}
.regret__container h2 {
    font-size: 14px;
    color: rgba(0,0,0,.45);
}
.regret__container a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color:#3483FA;
}

.information {
    background: #f7f7f7;
}
.information button {
    position: relative;
    left: 50%;  
    bottom: 32px;

    padding: 0 20px;

    font-size: 13px;
    line-height: 32px;
    
    color: #666666;
    background-color: #fff;
    border: 1px solid #eee;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.information button:focus {
    outline: none;
}
.information__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    max-width: 1200px;
    min-height: 260px;

    margin: 0 auto;
    padding: 0 110px;
}
.information__list {
    display: flex;
    flex-direction: column;

    margin: 46px 0;
}
.information__list h3 {
    margin-bottom: 14px;
    font-size: 14px;
    color: #333333;
}
.information__list a {
    line-height: 1.6;
    text-decoration: none;
    font-size: 14px;
    color: #999999;
}
.footer {
    height: 90px;
}
.footer__container {
    display: grid;
    grid-template-columns: 3fr 1fr;

    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 10px
}
.footer__info--links a {
    margin-right: 15px;
    text-decoration: none;
    font-size: 13px;
    color: #333333;
}
.foooter__info small, .foooter__info p {
    font-size: 12px;
    color: #999999;
}
.footer__app button {
    display: flex;
    align-items: center;
    justify-content: space-around;  
    width: 260px;

    padding: 0 8px;

    font-size: 12px;
    line-height: 30px;

    color: #333333;
    border-radius: 5px;
    background-color: #FFE600;
    border: 1px solid #d9cd4b;
}
.footer__app button:focus {
    outline: none;
}