@font-face {
    font-family: proximaNova;
    src: url("arc/proxima/ProximaNova-Regular.otf");
    font-weight: normal;
}
@font-face {
    font-family: proximaNova;
    src: url("/arc/proxima/ProximaNovaThin.otf");
    font-weight: lighter;
}
@font-face {
    font-family: proximaNova;
    src: url("arc/proxima/Proxima\ Nova\ Bold.otf");
    font-weight: bold;
}
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-darkgrey1: #333;
    --color-darkgrey2: #666666;
    --color-darkgrey3: #999999;
    --color-lightgrey1: #e7e7e7;
    --color-lightgrey2: #dfdfdf;
    --color-lightgrey3: #e2e2e2;
    --color-yellow1: #fff159;
    --color-yellow2: #FFE600;
    --color-yellow3: #d9cd4b;
    --color-blue1: #3483FA ;
    --color-blue2: #1259C3;
    --color-green1:  #39b54a;
    --color-green2: ;
    --color-box-shadow: rgba(0,0,0,.1);
}