section.categories
    .categories-titles
        h2 Categorías populares
    .categories__container  
        - for (var i = 1; i < 15; ++i) 
            div(class='category__box', id=`category__box${i}`)
                .category__box--svg-container
                h2.category__box--title 