-var links = ["Trabajá con nosotros", "Términos y condiciones", "Cómo cuidamos tu privacidad", "Ayuda", "Ayuda Legales"]

footer.footer
    .footer__container
        .footer__info
            .footer__info--links
                each i in links 
                    a(href="#")= i
            small Copyright C 1999-2021 MercadoLibre S.R.L.
            p Av. Caseros 3039. Piso 2. CP 1264. Parque Patricios. CABA.
        .footer__app
            button
                //svg(width="13" height="20" viewBox="0 0 13 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 .8C0 .4.4 0 .8 0h11.4c.4 0 .8.4.8.8v18.4c0 .4-.4.8-.8.8H.8c-.4 0-.8-.4-.8-.8V.8zm6.5 17.5c.4 0 .8-.3.8-.8s-.4-.8-.8-.8-.8.3-.8.8.4.8.8.8zm-5-16.6h10v14h-10v-14z" fill="%23333" fill-rule="evenodd")
                span Descarga gratis la app de Mercado Libre
