header.header-mobile
    nav.header-mobile__nav
        a(href="#").logo-ml-small
        div.search
            button.btn-search
            img(src="arc/loupe.png" alt="")
            input(
                type="text" 
                placeholder="Estoy buscando..."    
            )
        button.btn-menu
            img(src="/arc/menu.png" alt="")
    nav.nav-mobile
        div.nav-mobile__login
            div.nav-mobile__user
            //- svg(
            //-     width="28" 
            //-     height="35" 
            //-     xmlns="http://www.w3.org/2000/svgpath d="
            //-     M27.343 33.706l-1.356.64A13.25 13.25 0 0 0 14 26.75c-5.17 0-9.8 2.988-11.978 7.578l-1.356-.643A14.75 14.75 0 0 1 14 25.25a14.75 14.75 0 0 1 13.343 8.456zM14 21.75C8.063 21.75 3.25 16.937 3.25 11S8.063.25 14 .25 24.75 5.063 24.75 11 19.937 21.75 14 21.75zm0-1.5a9.25 9.25 0 1 0 0-18.5 9.25 9.25 0 0 0 0 18.5zm0-2.5v-1.5a5.25 5.25 0 1 0 0-10.5v-1.5a6.75 6.75 0 0 1 0 13.5z 
            //-     fill="#BBB" 
            //-     fill-rule="nonzero/path/svg"
            //-     ).nav-header-menu-mobile-guest-icon 
//-             h2 Bienvenido
//-                 p Ingresa a tu cuenta para ver tus compras, favoritos, etc
//-                 div.nav-mobile__buttons
//-                     a(href="#").nav-mobile--buttons.nav-mobile__buttons--login Ingresá
//-                     a(href="#").nav-mobile--buttons.nav-mobile__buttons-singinCreá tu cuenta                
//-         ul.nav-mobile__menu1
//-             li 
//-                 a(href="#")
//-                 svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 486.196 486.196" style="enable-background:new 0 0 486.196 486.196;" xml:space="preserve
//-             gpath d="M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1
//-                     c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6
//-                     c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2
//-                     c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5
//-                     C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9
//-                     v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0
//-                     s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z"//gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/g/svg)
//-             Inicio
                
            
//-             li 
//-                 a(href="#")
//-                 svg(id="Capa_1" enable-background="new 0 0 511.941 511.941" height="512" viewBox="0 0 511.941 511.941" width="512" xmlns="http://www.w3.org/2000/svggpath d="m337.706 239.198c-4.61-11.263-17.523-16.683-28.788-12.079l-179.328 73.305c-5.459 2.231-9.722 6.454-12.005 11.892-2.282 5.438-2.309 11.438-.077 16.899 1.119 2.735 2.739 5.174 4.815 7.252.001 0 .001 0 .001.001 4.232 4.232 9.86 6.477 15.6 6.477 2.814 0 5.655-.54 8.372-1.65l179.33-73.305c11.267-4.608 16.687-17.522 12.08-28.792zm-17.755 14.908-179.33 73.305c-2.65 1.082-5.667.475-7.691-1.549-.661-.661-1.179-1.445-1.54-2.325-.716-1.75-.707-3.675.025-5.418.731-1.743 2.098-3.097 3.849-3.813l179.328-73.305c3.613-1.475 7.755.263 9.233 3.874 1.477 3.613-.261 7.754-3.874 9.231z"/path d="m261.506 234.451c23.616-23.617 25.319-60.341 3.795-81.864s-58.249-19.82-81.865 3.796-25.319 60.34-3.796 81.863c10.109 10.108 23.565 15.093 37.446 15.093 15.677 0 31.893-6.362 44.42-18.888zm-67.464-67.464c9.614-9.615 21.99-14.524 33.81-14.524 10.025 0 19.65 3.534 26.844 10.728 15.677 15.677 13.974 42.886-3.795 60.655-17.768 17.769-44.98 19.47-60.655 3.795-15.677-15.676-13.974-42.885 3.796-60.654z"/path d="m240.888 213.835c5.605-5.604 9.205-12.759 10.14-20.147 1.008-7.978-1.304-15.445-6.344-20.484-5.038-5.04-12.497-7.351-20.485-6.343-7.388.934-14.542 4.535-20.146 10.139-5.605 5.604-9.205 12.759-10.14 20.147-1.009 7.979 1.303 15.445 6.343 20.484 4.264 4.264 10.264 6.576 16.843 6.575 1.197 0 2.414-.077 3.642-.232 7.388-.935 14.543-4.535 20.147-10.139zm-30.026-6.81c-1.738-1.738-2.492-4.653-2.069-7.999.512-4.044 2.649-8.208 5.865-11.423 3.215-3.216 7.379-5.353 11.423-5.864.61-.078 1.207-.115 1.784-.115 2.586 0 4.794.763 6.214 2.183 0 0 0 0 .001.001 1.737 1.738 2.492 4.653 2.069 7.999-.512 4.044-2.649 8.208-5.865 11.423-3.215 3.216-7.379 5.353-11.423 5.864-3.349.422-6.262-.332-7.999-2.069z"/path d="m246.735 392.412c5.605-5.604 9.205-12.759 10.14-20.147 1.009-7.979-1.303-15.445-6.343-20.484-5.039-5.04-12.504-7.349-20.485-6.343-7.388.934-14.543 4.534-20.147 10.138-5.605 5.604-9.205 12.759-10.14 20.147-1.008 7.979 1.304 15.446 6.344 20.485 4.263 4.263 10.263 6.575 16.842 6.575 1.197 0 2.414-.077 3.643-.232 7.388-.935 14.542-4.535 20.146-10.139zm-30.026-6.809c-1.737-1.738-2.492-4.653-2.069-7.999.512-4.044 2.649-8.208 5.865-11.423 3.215-3.216 7.379-5.353 11.423-5.864.61-.077 1.206-.115 1.783-.115 2.587 0 4.795.764 6.216 2.184h.001c1.737 1.737 2.491 4.653 2.068 7.998-.512 4.044-2.649 8.208-5.865 11.423-3.215 3.216-7.379 5.353-11.423 5.864-3.341.423-6.261-.33-7.999-2.068z"/path d="m231.147 431.262c.394 0 .796-.031 1.198-.096 12.961-2.082 25.393-8.524 35.009-18.139 23.616-23.617 25.321-60.34 3.797-81.864-21.529-21.515-58.254-19.816-81.873 3.792-23.61 23.622-25.309 60.35-3.788 81.871 3.843 3.843 8.261 7.029 13.132 9.47 3.7 1.854 8.207.359 10.064-3.344 1.855-3.702.358-8.208-3.344-10.064-3.431-1.719-6.542-3.963-9.245-6.667-15.676-15.676-13.975-42.89 3.787-60.662 17.771-17.762 44.986-19.461 60.664-3.791 15.675 15.675 13.97 42.884-3.799 60.653-7.401 7.402-16.912 12.35-26.782 13.936-4.089.657-6.871 4.504-6.215 8.593.592 3.688 3.776 6.312 7.395 6.312z"/path d="m509.381 27.814c-5.938-14.976-17.56-24.11-32.724-25.719-26.327-2.797-60.751 17.582-83.533 48.939-17.723-5.061-35.192-8.731-52.2-10.943-4.104-.53-7.869 2.361-8.404 6.469-.534 4.107 2.362 7.869 6.469 8.403 25.376 3.301 51.88 9.992 78.776 19.888 8.125 2.988 14.498 9.361 17.486 17.488.735 1.999 1.432 3.97 2.123 5.937-9.222 4.948-19.272 9.829-30.015 14.574-1.309-1.962-2.825-3.825-4.555-5.555-6.898-6.898-16.069-10.696-25.823-10.696-9.755 0-18.925 3.799-25.824 10.696-14.239 14.239-14.239 37.407 0 51.645 7.12 7.119 16.472 10.679 25.823 10.679 9.352 0 18.704-3.56 25.824-10.679 8.732-8.732 12.099-20.822 10.121-32.152 10.389-4.576 20.16-9.286 29.224-14.07 21.078 68.061 15.502 115.083 11.791 133.157-.986 4.802-3.216 9.346-6.448 13.138-75.574 88.595-141.218 154.906-226.576 228.88-10.699 9.269-26.494 9.646-37.56.896-60.043-47.49-114.562-102.012-162.044-162.055-8.751-11.057-8.375-26.848.896-37.547 73.939-85.33 140.25-150.973 228.885-226.58 3.78-3.228 8.325-5.461 13.134-6.455 9.252-1.899 24.702-4.052 45.739-3.498 4.138.077 7.584-3.161 7.691-7.301.108-4.14-3.161-7.584-7.301-7.692-22.463-.587-39.124 1.743-49.155 3.802-7.289 1.506-14.153 4.874-19.846 9.737-89.24 76.126-156.015 142.23-230.48 228.167-13.985 16.14-14.54 39.976-1.324 56.673 48.2 60.951 103.547 116.301 164.502 164.512 8.065 6.379 17.791 9.55 27.512 9.549 10.416 0 20.826-3.641 29.173-10.874 85.966-74.5 152.07-141.275 228.167-230.483 4.87-5.714 8.234-12.579 9.727-19.853 2.444-11.901 5.015-31.761 3.382-58.784-1.643-27.183-7.184-55.64-16.475-84.818 18.022-10.553 31.884-21.113 41.229-31.436 14.243-15.732 18.486-31.222 12.613-46.039zm-116.277 91.088c-3.522 1.435-6.686 2.68-9.35 3.705-.044-3.232.113-6.488.428-9.755 2.978 1.056 5.716 2.748 8.016 5.048.323.322.609.665.906 1.002zm-.905 29.434c-8.39 8.39-22.043 8.392-30.435 0-8.392-8.391-8.392-22.045 0-30.436 2.126-2.126 4.623-3.738 7.339-4.805-.568 7.057-.435 14.076.438 20.964.284 2.243 1.565 4.238 3.486 5.43 1.201.745 2.573 1.127 3.953 1.127.828 0 1.659-.137 2.46-.415.38-.132 7.806-2.719 19.044-7.293.053 5.581-2.035 11.179-6.285 15.428zm58.422-57.568c-.43-1.202-.852-2.402-1.295-3.606-4.509-12.261-14.126-21.878-26.384-26.385-4.866-1.791-9.72-3.474-14.561-5.062 19.427-24.576 46.822-40.819 66.694-38.705 9.619 1.021 16.472 6.516 20.364 16.332 8.213 20.717-21.577 43.427-44.818 57.426z")
//-                 Ofertas
            
//-             li 
//-                 a(href="#")
//-                     svg(id="Capa_1" enable-background="new 0 0 443.294 443.294" height="512" viewBox="0 0 443.294 443.294" width="512" xmlns="http://www.w3.org/2000/svgpath d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z"/path d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z")
//-                 Historial
            
//-             li 
//-                 a(href="#")
//-                     svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="512" height="512g id="sign_&#xB7;_ecommerce_&#xB7;_shopping_&#xB7;_tag_&#xB7;_sale" data-name="sign &#xB7; ecommerce &#xB7; shopping &#xB7; tag &#xB7; salepath d="M23.1,43.728a3,3,0,0,0-4.243,0l-1.414,1.414a1,1,0,0,1-1.415,0l-1.414-1.414a1,1,0,0,1,0-1.415l2.828-2.828a1,1,0,0,0-1.414-1.414L13.2,40.9a3,3,0,0,0,0,4.243l1.414,1.414a3,3,0,0,0,4.243,0l1.414-1.414a1,1,0,0,1,1.415,0L23.1,46.556a1,1,0,0,1,0,1.415L20.272,50.8a1,1,0,1,0,1.414,1.414l2.829-2.828a3,3,0,0,0,0-4.243Z"/path d="M34.515,37.628,23.908,31.264a1,1,0,0,0-1.221.15l-1.415,1.415a1,1,0,0,0-.15,1.221l6.364,10.607a1,1,0,1,0,1.715-1.03l-1.72-2.866,3.138-3.138,2.866,1.72a1,1,0,0,0,1.03-1.715ZM26.42,38.994l-3.182-5.3.31-.31,5.3,3.182Z"/path d="M40.657,30.414,37.121,33.95l-7.778-7.778a1,1,0,1,0-1.414,1.414l8.485,8.485a1,1,0,0,0,1.414,0l4.243-4.243a1,1,0,0,0-1.414-1.414Z"/path d="M47.314,23.757l-2.829,2.829-2.828-2.829,1.414-1.414a1,1,0,0,0-1.414-1.414l-1.414,1.414-2.829-2.828,2.829-2.829a1,1,0,1,0-1.414-1.414l-3.536,3.536a1,1,0,0,0,0,1.414l8.485,8.485a1,1,0,0,0,1.414,0l3.536-3.536a1,1,0,1,0-1.414-1.414Z"/path d="M58.261,17.63,59.373,10.4A5,5,0,0,0,53.694,4.7l-15.4,2.3a9.054,9.054,0,0,0-5.036,2.538L3.3,39.485a5,5,0,0,0,0,7.071L17.444,60.7a5,5,0,0,0,7.071,0l16.4-16.4C42.63,52.683,46.488,58,51,58c6.168,0,11-10.1,11-23C62,28.252,60.635,21.959,58.261,17.63ZM23.1,59.284a3.071,3.071,0,0,1-4.243,0L4.716,45.142a3,3,0,0,1,0-4.243L34.669,10.946a7.048,7.048,0,0,1,3.917-1.973l15.4-2.3a3.023,3.023,0,0,1,.453-.034A3,3,0,0,1,57.4,10.1l-.775,5.042a10.3,10.3,0,0,0-1.947-1.859,3.971,3.971,0,0,0-1.168-2.787,4.1,4.1,0,0,0-5.657,0A4,4,0,1,0,54.1,15.378a11.167,11.167,0,0,1,2.085,2.629l-1.142,7.424a6.955,6.955,0,0,1-1.97,3.885ZM51,14a3.8,3.8,0,0,1,1.421.286,2.028,2.028,0,0,1-.329.451,2.026,2.026,0,1,1,.22-2.561A5.621,5.621,0,0,0,51,12a1,1,0,0,0,0,2Zm0,42c-3.614,0-7.017-5.5-8.365-13.422L54.482,30.73a8.934,8.934,0,0,0,2.532-5l.7-4.523A39.263,39.263,0,0,1,60,35C60,46.383,55.878,56,51,56Z"//g/svg)
//-                 Vender

//-         ul.nav-mobile__menu2
//-             li 
//-                 a(href="#")svg height="512pt" viewBox="0 -52 512.00001 512" width="512pt" xmlns="http://www.w3.org/2000/svgpath d="m0 113.292969h113.292969v-113.292969h-113.292969zm30.003906-83.289063h53.289063v53.289063h-53.289063zm0 0"/path d="m149.296875 0v113.292969h362.703125v-113.292969zm332.699219 83.292969h-302.695313v-53.289063h302.695313zm0 0"/path d="m0 260.300781h113.292969v-113.292969h-113.292969zm30.003906-83.292969h53.289063v53.289063h-53.289063zm0 0"/path d="m149.296875 260.300781h362.703125v-113.292969h-362.703125zm30.003906-83.292969h302.695313v53.289063h-302.695313zm0 0"/path d="m0 407.308594h113.292969v-113.296875h-113.292969zm30.003906-83.292969h53.289063v53.289063h-53.289063zm0 0"/path d="m149.296875 407.308594h362.703125v-113.296875h-362.703125zm30.003906-83.292969h302.695313v53.289063h-302.695313zm0 0"//svg
//-                 Categorías
            
//-             li a(href="#")
//-             svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 512 512" width="512" height="512path d="M375.99,152a8.084,8.084,0,0,0,1-.063c13.492-1.686,39.008-12.3,39.008-40.382,0-8.62,3.742-14.9,11.441-19.207a39.492,39.492,0,0,1,13.364-4.39,8,8,0,0,0-1.579-15.921C425.658,73.357,400,83.313,400,111.556c0,8.7-3.791,15.148-11.59,19.723a40.666,40.666,0,0,1-13.4,4.783A8,8,0,0,0,375.99,152Z"/path d="M16.051,208.507a7.9,7.9,0,0,0,.188,1.289l23.711,102.9L29.893,495.561A8,8,0,0,0,37.881,504H474.119a8,8,0,0,0,7.988-8.439L472.05,312.692l23.711-102.9a7.9,7.9,0,0,0,.188-1.289,23.847,23.847,0,0,0-12.919-22.859,25.73,25.73,0,0,0-3.03-1.339V80A71.986,71.986,0,0,0,342.144,50.948a72.011,72.011,0,0,0-72.076-2.466,71.986,71.986,0,0,0-122.422,24.87A49.286,49.286,0,0,0,136.048,72a48.415,48.415,0,0,0-15.718,2.53l15.388-56.425A8,8,0,0,0,128,8H88a8,8,0,0,0-7.718,5.9l-7.555,27.7-1.009-3.7A8,8,0,0,0,64,32H24a8,8,0,0,0-7.718,10.1l22.853,83.8c-5.532,16.49-9.125,38.005-5.878,57.987a25.4,25.4,0,0,0-4.287,1.759A23.847,23.847,0,0,0,16.051,208.507ZM352,80a56,56,0,0,1,112,0V183.992a24.867,24.867,0,0,0-7.6,4.1,8.553,8.553,0,0,1-11.279-.607L434.783,177.3a24.631,24.631,0,0,0-34.427,0l-9.116,8.983a8.564,8.564,0,0,1-11.968,0l-9.117-8.983A24.455,24.455,0,0,0,352,170.331ZM216,40a56.146,56.146,0,0,1,45.657,23.6,8,8,0,0,0,11,1.989,56.012,56.012,0,0,1,64.554,1.329A72,72,0,0,0,336,80v55.98a79.983,79.983,0,0,0-99.5,2.837,134.879,134.879,0,0,0-6.277-20.087c-5.795-14.276-14.159-22.592-24.86-24.716-9.727-1.931-18.768,1.872-25.133,5.889a55.643,55.643,0,0,0-17.839-20.095A56.081,56.081,0,0,1,216,40ZM336,157.694v19.365c-.088.084-.184.155-.271.241l-9.117,8.983a8.564,8.564,0,0,1-11.968,0l-9.117-8.983a24.63,24.63,0,0,0-34.426,0l-9.117,8.983a8.564,8.564,0,0,1-11.968,0L240.9,177.3a24.248,24.248,0,0,0-10.128-5.975A63.99,63.99,0,0,1,336,157.694ZM94.11,24h23.416L100.035,88.134A59.194,59.194,0,0,0,91.776,99.9c-1.157-.73-2.406-1.453-3.729-2.136L81.02,72Zm-4.663,94.307a8,8,0,0,0,13.424-3.521c.072-.267,7.548-26.786,33.177-26.786,25.287,0,32.784,25.724,33.081,26.786a8,8,0,0,0,13.424,3.521c2.671-2.714,12.021-10.125,19.691-8.6,5.084,1.009,9.508,6.069,13.15,15.04a122.492,122.492,0,0,1,7.568,28.672,79.627,79.627,0,0,0-10.228,19.436,24.218,24.218,0,0,0-6.261,4.444l-9.117,8.983a8.557,8.557,0,0,1-8.446,2.077c3.812-30.047-4.363-47.143-4.732-47.893a8,8,0,0,0-14.385,7.006c.057.121,4.535,9.914,4.1,27.8a24.634,24.634,0,0,0-32.044,2.031l-9.117,8.983a8.564,8.564,0,0,1-11.968,0l-9.116-8.983a24.319,24.319,0,0,0-12.811-6.61c.491-14.766,4.221-22.892,4.348-23.164a8,8,0,0,0-14.336-7.1c-.263.526-5.934,12.139-6.062,32.791a24.239,24.239,0,0,0-5.566,4.087L66.883,187.482a8.553,8.553,0,0,1-11.279.607,24.973,24.973,0,0,0-5.947-3.482c-4.4-20.5.523-44.027,6.949-59.859,3.634-8.951,8.046-14.008,13.115-15.033C77.332,108.173,86.555,115.41,89.447,118.307ZM34.474,48H57.89L70.311,93.547a26.993,26.993,0,0,0-3.67.467c-6.448,1.28-12.04,4.824-16.74,10.549Zm1.932,151.815a8.448,8.448,0,0,1,9.294.841,24.581,24.581,0,0,0,32.412-1.777L88.446,188.7a8.562,8.562,0,0,1,11.968,0l9.117,8.982a24.63,24.63,0,0,0,34.427,0l9.116-8.982a8.562,8.562,0,0,1,11.968,0l9.117,8.982a24.629,24.629,0,0,0,34.426,0L217.7,188.7a8.562,8.562,0,0,1,11.968,0l9.117,8.982a24.629,24.629,0,0,0,34.426,0l9.117-8.982a8.562,8.562,0,0,1,11.968,0l9.117,8.982a24.629,24.629,0,0,0,34.426,0l9.117-8.982a8.562,8.562,0,0,1,11.968,0l9.116,8.982a24.63,24.63,0,0,0,34.427,0l9.117-8.982a8.562,8.562,0,0,1,11.968,0l10.334,10.181a24.581,24.581,0,0,0,32.412,1.777,8.448,8.448,0,0,1,9.294-.841A8.048,8.048,0,0,1,480,206.94L456.2,310.2a8.035,8.035,0,0,0-.192,2.235L465.667,488H46.333l9.655-175.561A8.035,8.035,0,0,0,55.8,310.2L32,206.94A8.048,8.048,0,0,1,36.406,199.815Z"/path d="M192,312H320a8,8,0,0,0,8-8V256a8,8,0,0,0-8-8H192a8,8,0,0,0-8,8v48A8,8,0,0,0,192,312Zm8-48H312v32H200Z"//svg
//-             Supermercado
            
//-             li
//-                 a(href="#")
//-                 svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
//-                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve
//-             g	g		path d="M511.52,172.128l-32-128C477.76,36.992,471.328,32,464,32H48c-7.328,0-13.76,4.992-15.52,12.128l-32,128
//-                         C0.16,173.376,0,174.688,0,176c0,26.816,12.704,50.464,32,64.992V464c0,8.832,7.168,16,16,16h160c8.832,0,16-7.168,16-16V352h64
//-                         v112c0,8.832,7.168,16,16,16h160c8.832,0,16-7.168,16-16V240.992c19.296-14.528,32-38.176,32-64.992
//-                         C512,174.688,511.84,173.376,511.52,172.128z M448,448H320V336c0-8.832-7.168-16-16-16h-96c-8.832,0-16,7.168-16,16v112H64V254.72
//-                         c3.936,0.672,7.904,1.28,12,1.28c24.384,0,46.08-12.128,60-30.944C149.92,243.872,171.616,256,196,256
//-                         c24.384,0,46.08-12.128,60-30.944C269.92,243.872,291.616,256,316,256c24.384,0,46.08-12.128,60-30.944
//-                         C389.92,243.872,411.616,256,436,256c4.096,0,8.064-0.608,12-1.28V448z M436,224c-24.256,0-44-21.536-44-48
//-                         c0-8.832-7.168-16-16-16c-8.832,0-16,7.168-16,16c0,26.464-19.744,48-44,48c-24.256,0-44-21.536-44-48c0-8.832-7.168-16-16-16
//-                         c-8.832,0-16,7.168-16,16c0,26.464-19.744,48-44,48s-44-21.536-44-48c0-8.832-7.168-16-16-16c-8.832,0-16,7.168-16,16
//-                         c0,26.464-19.744,48-44,48c-23.68,0-43.072-20.544-43.968-46.144L60.512,64H451.52L480,177.856
//-                         C479.072,203.456,459.68,224,436,224z"/
//-                 /g/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/gg/g/svg)
//-             Tiendas Oficiales
        
        
//-         ul.nav-mobile__menu3
//-             li 
//-                 a(href="#")
//-                     svg(height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svgpath d="m277.332031 384c0 11.78125-9.550781 21.332031-21.332031 21.332031s-21.332031-9.550781-21.332031-21.332031 9.550781-21.332031 21.332031-21.332031 21.332031 9.550781 21.332031 21.332031zm0 0"/path d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"/path d="m256 314.667969c-8.832031 0-16-7.167969-16-16v-21.546875c0-20.308594 12.886719-38.507813 32.042969-45.269532 25.492187-8.980468 42.625-36.140624 42.625-55.851562 0-32.363281-26.304688-58.667969-58.667969-58.667969s-58.667969 26.304688-58.667969 58.667969c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16c0-49.984375 40.664063-90.667969 90.667969-90.667969s90.667969 40.683594 90.667969 90.667969c0 35.585938-28.097657 73.367188-63.980469 86.039062-6.398438 2.238282-10.6875 8.316407-10.6875 15.101563v21.527344c0 8.832031-7.167969 16-16 16zm0 0")
//-                 Ayuda
            
        
//-         ul.nav-mobile__menu4
//-             li 
//-                 a(href="#")
//-                     svg(height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svgpath d="m409.785156 278.5-153.785156 153.785156-153.785156-153.785156 28.285156-28.285156 105.5 105.5v-355.714844h40v355.714844l105.5-105.5zm102.214844 193.5h-512v40h512zm0 0")
//-                 ¡Comprá y vendé con la app!
    
//-     a(href="#").shoping 
//-         img(src="/arc/carro-de-la-compra.png" alt="")

//- div.shoping  
//-     a Enviar 
//-     a Capital Federal
   