nav.navcategory
    ul
        li 
            a(href='#')  Vehículos
        li 
            a(href='#')  Inmuebles
        li.navcategory-select 
            a(href='#') Tecnología
            section.navcategory-details 
                h2 Tecnología
                div
                    ul
                        li 
                            a(href='#') Celulares y Teléfonos
                        li 
                            a(href='#') Celulares y Smartphones
                        li 
                            a(href='#') Accesorios para Celulares
                    
                    ul
                        li 
                            a(href='#') Cámaras y Accesorios
                        li 
                            a(href='#') Cámaras digitales
                        li 
                            a(href='#') Accesorios para Cámaras
                    
                    ul
                        li 
                            a(href='#') Consolas y Videojuegos
                        li 
                            a(href='#') Videojuegos
                        li 
                            a(href='#') Para PlayStation
                    
                    ul
                        li 
                            a(href='#') Computación
                        li 
                            a(href='#') Componentes de PC
                        li 
                            a(href='#') Impresión
                        li 
                            a(href='#') Tablets y Accesorios
                        li 
                            a(href='#') PC
                    
                    ul
                        li 
                            a(href='#') Electrónica, Audio y Video
                        li 
                            a(href='#') Audio
                        li 
                            a(href='#') Accesorios para Audio y Video
                        li 
                            a(href='#') Componentes Electrónicos
                        li 
                            a(href='#') Drones y Accesorios         
                    
                    ul
                        li 
                            a(href='#') TVs
                    
        li.navcategory-select 
            a(href='#') Hogar y Electrodomésticos
            section.navcategory-details 
                h2 Hogar y Electrodomésticos
                div
                    ul
                        li 
                            a(href='#') Muebles para el Hogar
                        li 
                            a(href='#') Sillas, Sillones y Banquetas
                        li 
                            a(href='#') Muebles de Guardado
                        li 
                            a(href='#') Camas, Bases y Respaldos
                        li 
                            a(href='#') Juegos y Sets de Muebles 
                    ul
                        li 
                            a(href='#') Jardines y Exteriores
                        li 
                            a(href='#') Piletas y Accesorios
                        li 
                            a(href='#') Muebles para Exterior
                        li 
                            a(href='#') Plantas, Siembra y Cultivo
                        li 
                            a(href='#') Parrillas                                                                                   
                    
                    ul
                        li 
                            a(href='#') Pisos y Revestimientos
                        li 
                            a(href='#') Aberturas
                        li 
                            a(href='#') Molduras
                    
                    ul
                        li 
                            a(href='#') Bazar y Cocina
                        li 
                            a(href='#') Bajilla y Articulos de Servir
                        li 
                            a(href='#') Utensillos de Preparación
                    
                    ul
                        li 
                            a(href='#') Electrodomésticos y Aires Acondicionados
                        li 
                            a(href='#') Climatización
                        li 
                            a(href='#') Refrigeración
                    
                    ul
                        li 
                            a(href='#') Baños
                        li 
                            a(href='#') Accesorios para Baños
                        li 
                            a(href='#') Grifería para Baño
                        li 
                            a(href='#') Mamparas para Baño
                        li 
                            a(href='#') Sin Hidromasajes
                    
                    ul
                        li 
                            a(href='#') Adornos y Decoración del Living
                        li 
                            a(href='#') Cuadros, Carteles y Espejos
                        li 
                            a(href='#') Vinilos Decorativos
                    
                    ul
                        li 
                            a(href='#') Iluminación para el Hogar
                        li 
                            a(href='#') Lámparas
                        li 
                            a(href='#') Focos
                    
                    ul
                        li 
                            a(href='#') Seguridad para el Hogar
                        li 
                            a(href='#') Rejas
                        li 
                            a(href='#') Cerraduras
                        li 
                            a(href='#') Alarmas y Sensores
                        li 
                            a(href='#') Sistemas de Monitoreo

        li.navcategory-select 
            a(href='#') Herramientas e Industrias
            section.navcategory-details 
                h2 Herramientas e Industrias
                div
                    ul
                        li 
                            a(href='#') Industrias y Oficinas
                        li 
                            a(href='#') Gastronomía y Hotelería
                        li 
                            a(href='#') Equipamiento para Comercios
                        li 
                            a(href='#') Librería
                        li 
                            a(href='#') Textil y Calzado
                    
                    ul
                        li 
                            a(href='#') Herramientas
                        li 
                            a(href='#') Herramientas Eléctricas
                        li 
                            a(href='#') Herramientas Manuales
                        li 
                            a(href='#') Herramientas Industriales
                        li 
                            a(href='#') Accesorios para Herramientas
                    
                    ul
                        li 
                            a(href='#') Electricidad
                        li 
                            a(href='#') Cables
                        li 
                            a(href='#') Interruptores Diferenciales
                    
                    ul
                        li 
                            a(href='#') Construcción
                        li 
                            a(href='#') Materiales de Construcción
                        li 
                            a(href='#') Pinturería
                                            
        li.navcategory-select 
            a(href='#') Juguetes y Bebés
            section.navcategory-details 
                h2 Juguetes y Bebés
                div
                    ul
                        li 
                            a(href='#') Juegos y Juguetes
                        li 
                            a(href='#') Juegos de Plaza y Aire Libre
                        li 
                            a(href='#') Vehículos Montables para Niños
                    
                    ul
                        li 
                            a(href='#') ROpa y Calzador para Bebés
                        li 
                            a(href='#') Conjuntos
                        li 
                            a(href='#') Bodys
                        li 
                            a(href='#') Calzados
                        li 
                            a(href='#') Vestidos
                    
                    ul
                        li 
                            a(href='#') Lactancia y Alimentación
                        li 
                            a(href='#') Mamaderas y Accesorios
                        li 
                            a(href='#') Leche Maternizada
                        li 
                            a(href='#') Sacaleches
                        li 
                            a(href='#') Baberos para Comer
                    
                    ul
                        li 
                            a(href='#') Souvenirs, Cotillón y Fiestas
                        li 
                            a(href='#') Cotillón
                        li 
                            a(href='#') Disfraces
                    
                    ul
                        li 
                            a(href='#') Juegos y Juguetes para Nenes
                        li 
                            a(href='#') Mecedoras y Saltarines
                        li 
                            a(href='#') Gimnasios
                        li 
                            a(href='#') Móviles
                        li 
                            a(href='#') Sonajeros         
                    
                    ul
                        li 
                            a(href='#') Seguridad para Bebés
                        li 
                            a(href='#') Mochilas y Porta Bebés
                        li 
                            a(href='#') Pisos de Goma
                        li 
                            a(href='#') Baby Calls
                        li 
                            a(href='#') Puertas de Seguridad
                    
                    ul
                        li 
                            a(href='#') Cuarto del Bebé
                        li 
                            a(href='#') Cunas, Catres y Moisés
                        li 
                            a(href='#') Ropa de Cuna
                                                   
        li 
            a(href='#') Deporte y Aire Libre
        li 
            a(href='#') Libros
        li 
            a(href='#') Accesorios para Vehículos
        li 
            a(href='#') Moda
        li 
            a(href='#') Belleza y Cuidado Personal
        li 
            a(href='#') Supermercado
        li 
            a(href='#') Agro
        li 
            a(href='#') Servicios
        li 
            a(href='#') Productos Sustentables
        li 
            a(href='#') Ver Más Categorías
