section.regret
    .regret__container
        h2.regret--text Te arrepentiste de comprar?
        a(href="#").regret--link Como cancelar tu compra
    .regret__container
        h2.regret--text Conoce las normas que aplican cuando compras
        a(href="#").regret--link Ver contratos de adhesion - Ley N.° 24.240 de Defensa del Consumidor
