<!DOCTYPE html>
html(lang="en")
    include head.pug
    body
        include header.pug
        include carousel.pug
        include payment.pug
        include ofert.pug
        include advertising.pug
        include store.pug
        include advertising.pug
        include categories.pug
        include info-slide.pug
        include regret.pug
        include nav-bounds.pug
        include footer.pug
