<!DOCTYPE html>
html(lang="en")
    include head.pug
    body
        include ./sections/header.pug
        include ./sections/carousel.pug
        include ./sections/main.pug
        include ./sections/main2.pug
        include ./sections/info-slide.pug
        include ./sections/regret.pug
        include ./sections/nav-bounds.pug
        include ./sections/footer.pug
    script(src="../js/index.js")
